@font-face {
    font-family: 'gotham_blackregular';
    src: url('../../font/gotham_black_regular-webfont.woff2') format('woff2'),
         url('../../font/gotham_black_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'gotham_htfbook';
  src: url('../../font/gothamhtf-book-webfont.woff2') format('woff2'),
       url('../../font/gothamhtf-book-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

:root{
    --secColor: #1d1d1d;
    --mainColor: #59a1d9;
    --accentColor: #ea498b;
    --mainColor2: #a2d7e5;
    --mainColorrgba: rgba(89, 161, 217, 1);
    --accentColorrgba : rgba(234, 73, 139, 0.8);
    --darksec: #5584c3;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: gotham_blackregular;
}


.nav-item-link{
  font-size: 5vh;
  text-decoration: none;
  color: var(--secColor);
  margin: 3vh;
}

.nav-item-link:hover{
  color: var(--accentColor);
}

.nav-section{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: var(--mainColor) solid 5px;
}

.youtube-downloader-picture{
  background-image: url(../pictures/youtube_downloader_picture.png);
  background-size: cover;
}

.system-sort-picture{
  background-image: url(../pictures/system_sort_picture.png);
  background-size: cover;
}


.program-picture{
  width: 20vw;
  height: 20vw;
  margin-right: 3vh;
}

.learn-more-link{
  text-decoration: none;
  color: var(--accentColor);
}

.learn-more-link:hover{
  color: var(--mainColor);
}

.program-description{
  width: 30vw;
  font-family: gotham_htfbook;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download-program-button{
  font-family: gotham_blackregular;
  border: none;
  background: var(--secColor);
  color: #ffffff;
  padding: 2.5%;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 2vh;
  font-size: 200%;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px var(--accentColor);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.download-program-button:hover{
  background: var(--accentColor);
  box-shadow: 6px 6px 0px var(--secColor);
  font-size: 210%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 6vw;
  padding-right: 6vw;
}


.program-tile{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
  padding-top: 3vh;
  border-bottom: var(--accentColor) 3px dashed;
}

.system-sort-section{
  border: none;
}

.program-section{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* footer */
.footer-section > .fa{
  font-size: 40px;
  padding: 2vh;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  margin: 1vh;
}

.fa:hover {
    opacity: 0.9;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-instagram{
  background: #d12e75;
  color: white;
}

.fa-github{
  background: #161b22;
  color: white;
}


.footer-section{
  width: 100%;
  border-top: var(--accentColor) 5px solid;
}
