@media all and (max-width: 1200px) {
  .navDiv > div{
    padding: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .navDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom: var(--accentColor) solid 5px;
    -webkit-transition: 0.2s;
  }


  a{
    font-size: 300%;
    text-decoration: none;
    color: var(--mainColor);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .activPage{
  	border-top: solid 5px var(--accentColor);
    color: var(--accentColor);
  }

  .hoverActivPage:hover{
    border-top: solid 5px var(--mainColor);
    color: var(--mainColor);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-systemSort {
    display: none;
    position: relative;
    min-width: 160px;
    margin: 12px 16px;
    z-index: 1;
    -webkit-transition: 0.2s;
  }

  .dropdown:hover .dropdown-systemSort {
    display: block;
    -webkit-transition: 0.2s;
  }

  .hover:hover {
    color: var(--accentColor);
  }

  .versions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  /* change font to h1 = gotham black, p = gotham hbt */
  .log > h1{
    font-family: gotham_blackregular;
  }

  .log > p{
    font-family: gotham_htfbook;
  }

  .log > h1, .log > p{
    color: var(--secColor);
  }

  .log{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:2.5%;
    width: 40%;
  }

  .footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--secColor);
  }

  .contactMail > a{
    font-family: gotham_htfbook;
  }


  .contactMail > a:hover ,.contactMail > a:focus{
    border: none;
    color: var(--mainColor)
  }

  .contactMail > h1, .contactMail > a{
    font-size: 150%;
    text-align: left;
    color: white;
  }

  .navDiv{
    flex-direction: column;
    align-items: center;
  }
  .navDiv > div{
    margin: 1vh;
  }
  .navDiv > div > a{
    font-size: 400%;
  }
  .dropdown-systemSort {
    text-align: center;
  }
  .log{
    margin:2.5%;
    width: 80%;
  }
  .log > h1{
    font-size: 250%;
  }

  .log > p{
    font-size: 120%;
  }
  .footer{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
